Source: rust-httm
Section: utility
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native,
 rustc:native,
 libstd-rust-dev,
 librust-chrono-0.4+default-dev (>= 0.4.19-~~),
 librust-clap-3+cargo-dev (>= 3.1-~~),
 librust-clap-3+default-dev (>= 3.1-~~),
 librust-fxhash-0.2+default-dev (>= 0.2.1-~~),
 librust-itertools-0.10+default-dev (>= 0.10.3-~~),
 librust-lscolors-0.10+default-dev,
 librust-number-prefix-0.4+default-dev,
 librust-rayon-1+default-dev (>= 1.5.1-~~),
 librust-skim-0.9+default-dev (>= 0.9.4-~~),
 librust-terminal-size-0.1+default-dev (>= 0.1.17-~~),
 librust-which-4+default-dev (>= 4.2.4-~~)
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Standards-Version: 4.5.1
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/httm]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/httm
Rules-Requires-Root: no

Package: httm
Architecture: any
Multi-Arch: allowed
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${cargo:Depends}
Recommends:
 ${cargo:Recommends}
Suggests:
 ${cargo:Suggests}
Provides:
 ${cargo:Provides}
Built-Using: ${cargo:Built-Using}
XB-X-Cargo-Built-Using: ${cargo:X-Cargo-Built-Using}
Description: Dream of a CLI ZFS Time Machine is still alive with httm
 This package contains the following binaries built from the Rust crate
 "httm":
  - httm
